=begin
#SIRIUS Nightsky API

#REST API that provides the full functionality of SIRIUS and its web services as background service. It is intended as entry-point for scripting languages and software integration SDKs.

OpenAPI spec version: v0.9 on SIRIUS 5.6.1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.35
=end

module RubySirius
  class GraphicalUserInterfaceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Apply given changes to the running GUI instance.
    # Apply given changes to the running GUI instance.
    # @param body parameters that should be applied.
    # @param project_id of project-space the GUI instance is connected to.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def apply_to_gui(body, project_id, opts = {})
      apply_to_gui_with_http_info(body, project_id, opts)
      nil
    end

    # Apply given changes to the running GUI instance.
    # Apply given changes to the running GUI instance.
    # @param body parameters that should be applied.
    # @param project_id of project-space the GUI instance is connected to.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def apply_to_gui_with_http_info(body, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GraphicalUserInterfaceApi.apply_to_gui ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling GraphicalUserInterfaceApi.apply_to_gui"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GraphicalUserInterfaceApi.apply_to_gui"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/gui'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GraphicalUserInterfaceApi#apply_to_gui\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Close GUI instance of given project-space if available.
    # Close GUI instance of given project-space if available.
    # @param project_id if project-space the GUI instance is connected to.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def close_gui(project_id, opts = {})
      close_gui_with_http_info(project_id, opts)
      nil
    end

    # Close GUI instance of given project-space if available.
    # Close GUI instance of given project-space if available.
    # @param project_id if project-space the GUI instance is connected to.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def close_gui_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GraphicalUserInterfaceApi.close_gui ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GraphicalUserInterfaceApi.close_gui"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/gui'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GraphicalUserInterfaceApi#close_gui\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Open GUI instance on specified project-space and bring the GUI window to foreground.
    # Open GUI instance on specified project-space and bring the GUI window to foreground.
    # @param project_id of project-space the GUI instance will connect to.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :read_only open in read-only mode. (default to true)
    # @return [nil]
    def open_gui(project_id, opts = {})
      open_gui_with_http_info(project_id, opts)
      nil
    end

    # Open GUI instance on specified project-space and bring the GUI window to foreground.
    # Open GUI instance on specified project-space and bring the GUI window to foreground.
    # @param project_id of project-space the GUI instance will connect to.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :read_only open in read-only mode.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def open_gui_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GraphicalUserInterfaceApi.open_gui ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GraphicalUserInterfaceApi.open_gui"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/gui'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'readOnly'] = opts[:'read_only'] if !opts[:'read_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GraphicalUserInterfaceApi#open_gui\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
