=begin
#Sirius Nightsky Middleware API

#Sirius Nightsky Middleware API

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.9

=end

require 'uri'

module SwaggerClient
  class CompoundControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # getCompoundIds
    # @param pid pid
    # @param [Hash] opts the optional parameters
    # @return [Array<CompoundId>]
    def get_compound_ids_using_get(pid, opts = {})
      data, _status_code, _headers = get_compound_ids_using_get_with_http_info(pid, opts)
      data
    end

    # getCompoundIds
    # @param pid pid
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CompoundId>, Fixnum, Hash)>] Array<CompoundId> data, response status code and response headers
    def get_compound_ids_using_get_with_http_info(pid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompoundControllerApi.get_compound_ids_using_get ...'
      end
      # verify the required parameter 'pid' is set
      if @api_client.config.client_side_validation && pid.nil?
        fail ArgumentError, "Missing the required parameter 'pid' when calling CompoundControllerApi.get_compound_ids_using_get"
      end
      # resource path
      local_var_path = '/api/projects/{pid}/compounds'.sub('{' + 'pid' + '}', pid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<CompoundId>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompoundControllerApi#get_compound_ids_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # getCompound
    # @param cid cid
    # @param pid pid
    # @param [Hash] opts the optional parameters
    # @return [CompoundMsData]
    def get_compound_using_get(cid, pid, opts = {})
      data, _status_code, _headers = get_compound_using_get_with_http_info(cid, pid, opts)
      data
    end

    # getCompound
    # @param cid cid
    # @param pid pid
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompoundMsData, Fixnum, Hash)>] CompoundMsData data, response status code and response headers
    def get_compound_using_get_with_http_info(cid, pid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompoundControllerApi.get_compound_using_get ...'
      end
      # verify the required parameter 'cid' is set
      if @api_client.config.client_side_validation && cid.nil?
        fail ArgumentError, "Missing the required parameter 'cid' when calling CompoundControllerApi.get_compound_using_get"
      end
      # verify the required parameter 'pid' is set
      if @api_client.config.client_side_validation && pid.nil?
        fail ArgumentError, "Missing the required parameter 'pid' when calling CompoundControllerApi.get_compound_using_get"
      end
      # resource path
      local_var_path = '/api/projects/{pid}/compounds/{cid}'.sub('{' + 'cid' + '}', cid.to_s).sub('{' + 'pid' + '}', pid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CompoundMsData')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompoundControllerApi#get_compound_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
