**/*.iml
**/.idea/**
**/.swagger-codegen/**
**/.svn/**
**/*.class
**/*.classpath
**/gradle
**/gradlew
**/gradlew.bat
**/build/**
.updater/clientTests/PythonTests/test/__pycache__
Rsirius_*.tar.gz
Rsirius.Rcheck
.Rproj.user
