**/*.iml
**/.idea/**
**/.swagger-codegen/**
**/.svn/**
**/*.class
**/*.classpath
**/gradle
**/gradlew
**/gradlew.bat
**/build/**
client_api_r/Rsirius/
.Rproj.user
client-api_r/.Rproj.user
sirius-client-openAPI.Rproj
client-api_rsirius-client-openAPI.Rproj
.updater/clientTests/PythonTests/test/__pycache__